<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Places Test</title>
</head>
<body>
  <div style="height: 500px; display: flex; justify-content: center; align-items: center;">
    <form method="POST" action="/">
      <h1>Google Places</h1>
      <label for="area">Area:</label>
      <input type="text" id="area" name="area"><br><br>
      <label for="radius">Radius:</label>
      <input type="text" id="radius" name="radius"><br><br>
      <label for="$">$:</label>
      <input type="checkbox" id="$" name="$"><br><br>
      <label for="$$">$$:</label>
      <input type="checkbox" id="$$" name="$$"><br><br>
      <label for="$$$">$$$:</label>
      <input type="checkbox" id="$$$" name="$$$"><br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>